<%- include('./partials/header', {title: 'Weather App'}) %>
<div class="p-5">
    <h1 class="text-center pt-2 pb-4 text-3xl text-blue-800">Weather Information</h1>
    <!-- <a href="./users">Users</a> -->
    <div class="mb-5 lg:w-1/2 mx-auto text-center">
        <form action="/" method="POST">
            <input type="text" 
                class="w-1/2 border rounded mb-2 border-gray-300 shadow p-2" 
                name="city"
                placeholder="enter a city">
            <button type="submit" class="bg-blue-800 hover:bg-blue-600 text-white rounded py-2 px-4">Search</button>
        </form>
        <% if (error !== null) { %>        
            <p class="text-red-600"><%= error %></p>  
        <% } %>  
    </div>
    
    <% if (weather !== null) { %>
        <div class="md:w-1/2 lg:w-1/4 mx-auto">
            <div class="text-center bg-blue-100 border-blue-200 border-2 shadow-lg shadow-blue-500/50 rounded-lg p-4">
                <p class="text-blue-800 font-medium text-2xl"><%= weather.name %></p>                 
                <p class="text-blue-800 font-medium pt-4 text-3xl">
                    <%= weather.main.temp %>
                    <span>&#176;</span>
                </p>      
                <div class="flex justify-center items-center">
                    <img src="<%= `http://openweathermap.org/img/wn/${weather.weather[0].icon}.png` %>" 
                    alt="no image" width="70" class="object-center hover:object-top">
                </div>
                <p class="font-medium text-blue-800 text-xl "><%= weather.weather[0].main %></p>
            </div>
            <div class="w-full flex flex-row mt-6">
                <div class="text-center border shadow-lg shadow-gray-500/50 w-1/2 mr-2 rounded-lg p-4">
                    Humidity
                    <br>
                    <p class="text-lg"><%= weather.main.humidity %>%</p>
                </div>
                <div class="text-center border shadow-lg shadow-gray-500/50 w-1/2 mx-auto rounded-lg p-4">
                    Feels Like  
                    <br>
                    <p class="text-lg"><%=  weather.main.feels_like %><span>&#176;</span></p>
                </div>
            </div>
            <div class="w-full flex flex-row mt-6">
                <div class="text-center border shadow-lg shadow-gray-500/50 w-1/2 mr-2 rounded-lg p-4">
                    Sunrise
                    <br>
                    <p class="text-lg"><%= sunrise %></p>
                </div>
                <div class="text-center border shadow-lg shadow-gray-500/50 w-1/2 mx-auto rounded-lg p-4">
                Sunset
                <p class="text-lg"><%= sunset %></p>
                </div>
            </div>
            <div class="w-full flex flex-row mt-6">
                <div class="text-center border shadow-lg shadow-gray-500/50 w-1/2 mr-2 rounded-lg p-4">
                    Wind
                    <br>
                    <p class="text-lg"><%=  weather.wind.speed %> kph</p>
                </div>
                <div class="text-center border shadow-lg shadow-gray-500/50 w-1/2 mx-auto rounded-lg p-4">
                    Visibility
                <p class="text-lg"><%= weather.visibility %> km</p>
                </div>
            </div>
        </div>
    <% } %>      
</div>
<%- include('./partials/footer.ejs') %>